
.side-menu-item {
    display:block;
    width:50px;
    height:50px;
  float: none;
  margin-bottom: 0px;
  margin-left:-40px;
}

.side-menu-item > a {
    display:block;
    padding:10px 15px;
    width:100%;
    height:100%;
    color:inherit;
}

.side-menu-item.active {
border-bottom-width: 0px;
background-color:#555;
color:#eee;
}

.nav-tabs > li > a {
margin: 0px;
}



.tab-pane { min-height: 100%;}

.bg-gray-darker {
    background-color: #222;
}

.bg-gray-dark {
    background-color: #282828;
}

.bg-gray {
    background-color: #555;
}
.bg-gray-light {
    background-color: #888;
}
.bg-gray-lighter {
    background-color: #ADAFAE;
}

.no-padding { padding:0px;}

.side-menu {
    color:black;background-color:aqua;font-size:24px;
}